# Node modules
node_modules/

# Logs
*.log
*.log.*

# Environment variables
.env

# npm package lock file (optional)
npm-debug.log
yarn-debug.log
yarn-error.log

# Temporary or IDE-specific files
.DS_Store
Thumbs.db

# Operating system files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
